.footer {
  max-width: 100%;
  width: 1440px;
  margin: 0 auto;
  
  .feedback-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @main-bg-color;
    font-family: 'DIN Pro', sans-serif;
    background-color: @third-bg-color;

    &__title {
      font-size: 40px;
      font-weight: normal;
      line-height: 52px;
      letter-spacing: -0.02em;
      margin-top: 98px;
      margin-left: 2px;
      margin-bottom: 85px;
    }

    &__label-description {
      position: relative;
      max-width: 575px;
      display: flex;
      flex-direction: column;
      font-family: 'DIN Pro_1';
      font-size: 16px;
      margin-left: 3px;
      margin-bottom: 11px;

      &::before {
        position: absolute;
        top: -2px;
        left: -66px;
        color: @orange;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
      }

      &:after {
        position: absolute;
        content: '';
        width: 64px;
        height: 64px;
        top: -24px;
        left: -94px;
        border: 1px solid @form-pseudo-color;
        border-radius: 50%;
      }

      &--name::before {
        content: '1';
      }

      &--email::before {
        content: '2';
      }

      &--tel::before {
        content: '3';
      }

      &--question {
        letter-spacing: 0.005em;
        line-height: 1.57em;
        margin-left: 1px;
        margin-top: -3px;

        &::before {
          content: '4';
          top: -1px;
          left: -65px;
        }

        &::after {
          top: -21px;
          left: -93px;
        }
      }

    
    }

    &__input {
      width: 575px;
      color: @main-bg-color;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 60px;
      background: none;
      border: none;
      border-bottom: 2px solid @form-placeholder-color;
      margin-top: 24px;
      padding-top: 5px;
      padding-bottom: 21px;
      outline: none;

      .placeholder({
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.01em;
        color: @main-bg-color;
        opacity: 0.3;   
      })
    }

    &__textarea {
      padding-top: inherit;
      padding-left: 1px;
      padding-bottom: 30px;
      margin-bottom: 0;
      resize: none;

      .placeholder({
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.01em;
        color: @main-bg-color;
        opacity: 0.3;
      })
    }
    
    &__btn {
      .btn;
      width: 575px;
      font-family: 'Gilroy Extra Bold', sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: @orange;
      background-color: @main-bg-color;
      border: none;
      border-radius: 27.5px;
      margin-top: 50px;
      // margin-left: -1px;
      margin-bottom: 120px;
      padding-top: 19px;
      padding-bottom: 17px;
      outline: none;
    }
  }
}