.header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: @main-bg-color;

  &__container {
    width: 100%;
    margin-top: 166px;
    margin-bottom: 142px;
  }

  &__title {
    color: @main-text-color;
    font-family: 'DIN Pro', sans-serif;
    font-weight: 200;
    font-size: 48px;
    letter-spacing: -0.02em;
    margin: 0;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-top: 24px;

    &--marked {
      color: @orange;
      letter-spacing: -0.03em;
    }
  }

  &__btn {
    .btn;
    position: relative;
    color: @main-text-color;
    font-family: 'Gilroy Extra Bold', sans-serif;
    font-weight: 900;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 8px;
    border: none;
    background: none;
    outline: none;
    text-decoration: none;
    // cursor: pointer;
    z-index: 1;
    

    .btn__plus {
      // position: absolute;
      display: inline-block;
      width: 54px;
      height: 54px;
      background-color: @btn-bg-color;
      border-radius: 27.5px;
      margin-right: -12px;
      margin-bottom: -21px;
      z-index: -1;
      transition: all 0.25s ease-in-out 0.1s;

      &::before {
        width: 14px;
        height: 14px;
        display: block;
        content: '';
        background-image: url('../../build/img/plus.png');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transform: translate(20px, 20px);
      }
    }

    &:hover {

      .btn__plus{
        width: 236px;
        background-position: 16px 50%;
        border-radius: 27.5px;
        margin-right: -194px;
        
        // transition: left 1s ease-out 0.5s;
      }
    }
    // .btn__plus {
    //   position: absolute;
    //   display: block;
    //   width: 54px;
    //   height: 54px;
    //   top: -17.5px;
    //   left: -38px;
    //   background-color: @btn-bg-color;
    //   margin-bottom: 5px;
    //   border-radius: 50%;
    //   z-index: -1;

    //   &::before {
    //     position: absolute;
    //     content: '';
    //     display: block;
    //     width: 3px;
    //     height: 14px;
    //     top: 50%;
    //     left: 50%;
    //     background-color: @orange;
    //     transform: translate(-1px, -6.5px);
    //   }

    //   &::after {
    //     position: absolute;
    //     content: '';
    //     display: block;
    //     width: 14px;
    //     height: 3px;
    //     top: 50%;
    //     left: 50%;
    //     background-color: @orange;
    //     transform: translate(-6.5px, -1px);
    //   }

    //   &:hover {
    //     display: inline-block;
    //     width: 236px;
    //     border-radius: 17.5px;
    //   }
    // }
  }

  // btn {
  //   &__plus {
  //     display: inline-block;
  //     width: 54px;
  //     height: 54px;
  //     background-color: @btn-bg-color;
  //     border-radius: 50%;
  //     z-index: -1;
  //   }
  // }
}