.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .block-1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: @second-bg-color;
    
    &__image {
      max-width: 100%;  
    }

    &__description {
      display: flex;
      flex-wrap: wrap;
      max-width: 972px;
      margin-top: -99px;
      margin-bottom: 80px;

      .question {
        width: 486px;
        font-family: 'DIN Pro', sans-serif;
        background-color: @main-bg-color;
        padding: 50px 66px 39px 58px;
        border-right: 2px solid @btn-bg-color;
        box-sizing: border-box;

        &:not(:nth-child(2n+2)) {
          border-left: 2px solid @btn-bg-color;
        }

        &:not(:nth-child(3)),
        &:not(:last-child) {
          border-top: 2px solid @btn-bg-color;
        }

        &__title {
          font-family: 'DIN Pro Bold', sans-serif;
          font-size: 12px;
          font-style: normal;
          line-height: 12px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: @orange;
          margin-top: 0;
          margin-bottom: 18px;

          &:nth-child(2) {
            letter-spacing: 0.03em;
          }
        }

        &__description {
          width: 337px;
          font-size: 24px;
          line-height: 29.99px;
          letter-spacing: -0.03em;
          color: @main-text-color;
          margin-top: 0;
          
        }

        &:nth-child(2) {
          padding-left: 60px;

          .question__description {
            width: 356px;
          }
        }

        &:last-child {
          padding-left: 60px;

          .question__description {
            width: 300px;
          }
        }
      }
    }
  }

  .block-2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .article {
    width: 773px;
    margin-top: 43px;
    margin-bottom: 89px;
    color: @main-text-color;

    &__title {
      font-family: 'DIN Pro', sans-serif;
      font-size: 48px;
      font-weight: normal;
      letter-spacing: -0.02em;
      margin-bottom: 9px;
      margin-left: 1px;
    }

    &__description {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: @article-color;
      margin-left: 1px;
      
      &:first-of-type {
        margin-bottom: 28px;
        line-height: 1.67;
      }

      &:last-of-type {
        margin-top: 0;
        line-height: 1.65;
      }
    }
    
  }

  .block-3 {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits {
    background-color: @second-bg-color;

    &__title {
      font-family: 'DIN Pro', sans-serif;
      font-size: 40px;
      font-weight: normal;
      letter-spacing: -0.02em;
      color: @benefit-title-color;
      margin-top: 121px;
      margin-left: 1px;
      margin-bottom: 60px;
    }

    .benefit-list {
      width: 100%;
      max-width: 1139px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 2px;
      margin-left: -32px;
      margin-bottom: 148px;
      padding: 0;

      .benefit {
        display: flex;
        flex-direction: column;
        background-image: url('../../build/img/benefit.png');
        background-repeat: no-repeat;
        background-position: 0 0;
       
        &--experience {
          width: 326px;
          margin-right: 71px;
        }

        &--salary {
          width: 332px;
          margin-right: 65px;
        }

        &--flexible {
          width: 345px;
        }

        &__title {
          font-family: 'DIN Pro Bold', sans-serif;
          font-size: 20px;
          margin-top: 84px;
          margin-left: 1px;
        }

        &__line {
          margin-top: 4px;
          margin-left: 1px;
          margin-bottom: 8px;
        }
        &__description {
          overflow: visible;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 1.68em;
          color: @article-color;
          margin-left: 1px;
        }
      }
    }
  }
}