.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .block-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @second-bg-color;

    @media @mobile {
      justify-content: flex-start;
    }
    
    &__image {
      width: 100%;
    }

    &__description {
      display: flex;
      flex-wrap: wrap;
      max-width: 972px;
      width: 100%;
      margin-top: -99px;
      margin-bottom: 80px;

      @media @mobile {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
        margin-bottom: 40px;
      }

      @media @tablet-s {
        width: 100%;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      @media @tablet-l {
        width: 100%;
        flex-direction: row;
        align-self: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .question {
        max-width: 486px;
        width: 100%;
        font-family: 'DIN Pro', sans-serif;
        background-color: @main-bg-color;
        padding: 50px 66px 39px 58px;
        border-right: 2px solid @btn-bg-color;
        box-sizing: border-box;

        @media @mobile {
          padding: 0;
          background-color: @second-bg-color;
          border-right: none;
        }

        @media @tablet-s {
          margin: 0 auto;
          padding: 0;
          background-color: @second-bg-color;
          border-right: none;
        }

        @media @tablet-l {
          width: 45%;
          padding: 50px 40px;
        }

        &:not(:nth-child(2n+2)) {
          border-left: 2px solid @btn-bg-color;

          @media @mobile {
            border-left: none;
          }

          @media @tablet-s {
            border-left: none;
          }
        }

        &:not(:nth-child(3)),
        &:not(:last-child) {
          border-top: 2px solid @btn-bg-color;
        }

        &__title {
          font-family: 'DIN Pro Bold', sans-serif;
          font-size: 12px;
          font-style: normal;
          line-height: 12px;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: @orange;
          margin-top: 0;
          margin-bottom: 18px;

          @media @mobile {
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            background-color: @second-bg-color;
          }

          @media @tablet-s {
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            background-color: @second-bg-color;
          }

          &:nth-child(2) {
            letter-spacing: 0.03em;
          }
        }

        &__description {
          width: 337px;
          font-size: 24px;
          line-height: 29.99px;
          letter-spacing: -0.03em;
          color: @main-text-color;
          margin-top: 0;

          @media @mobile {
            width: 100%;
            text-align: center;
          }

          @media @tablet-s {
            width: 100%;
            text-align: center;
          }

          @media @tablet-l {
            width: 100%;
            margin-bottom: 0;
          }
        }

        &:nth-child(2) {
          padding-left: 60px;

          @media @mobile {
            padding: 0;
          }

          @media @tablet-s {
            padding: 0;
          }

          @media @tablet-l {
            padding-left: 40px;
          }

          .question__description {
            width: 356px;

            @media @mobile {
              width: 100%;
            }

            @media @tablet-s {
              width: 100%;
            }

            @media @tablet-l {
              width: 100%;
            }
          }
        }

        &:last-child {
          padding-left: 60px;

          @media @mobile {
            padding: 0;
          }

          @media @tablet-s {
            padding: 0;
          }

          @media @tablet-l {
            padding-left: 40px;
          }

          .question__description {
            width: 300px;

            @media @mobile {
              width: 100%;
            }

            @media @tablet-s {
              width: 100%;
            }

            @media @tablet-l {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .block-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .article {
    width: 773px;
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    margin-bottom: 89px;
    color: @main-text-color;
    
    @media @mobile {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media @tablet-s {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @media @tablet-l {
      width: 100%;
    }

    &__title {
      font-family: 'DIN Pro', sans-serif;
      font-size: 48px;
      font-weight: normal;
      letter-spacing: -0.02em;
      margin-bottom: 9px;
      margin-left: 1px;

      @media @mobile {
        font-size: 36px;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
      }

      @media @tablet-s {
        font-size: 36px;
        margin-top: 0;
        margin-left: 0;
        text-align: center;
      }

      @media @tablet-l {
        margin-left: 50px;
      }
    }

    &__description {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: @article-color;
      margin-left: 1px;

      @media @mobile {
        width: 100%;
        margin-left: 0;
        text-align: center;
      }

      @media @tablet-s {
        width: 100%;
        margin-left: 0;
        text-align: center;
      }

      @media @tablet-l {
        margin-left: 50px;
        margin-right: 50px;
      }
      
      &:first-of-type {
        margin-bottom: 28px;
        line-height: 1.67;
      }

      &:last-of-type {
        margin-top: 0;
        line-height: 1.65;
      }
    }
  }

  .block-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits {
    background-color: @second-bg-color;

    &__title {
      font-family: 'DIN Pro', sans-serif;
      font-size: 40px;
      font-weight: normal;
      letter-spacing: -0.02em;
      color: @benefit-title-color;
      margin-top: 121px;
      margin-left: 1px;
      margin-bottom: 60px;

      @media @mobile {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 30px;
      }

      @media @tablet-s {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        margin-bottom: 30px;
      }
    }

    .benefit-list {
      width: 100%;
      max-width: 1139px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 2px;
      margin-left: -32px;
      margin-bottom: 148px;
      padding: 0;

      @media @mobile {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 40px;
      }

      @media @tablet-s {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 40px;
      }

      @media @tablet-l {
        width: 80%;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-bottom: 40px;
      }

      @media @desktop-s {
        width: 80%;
        justify-content: space-between;
        text-align: center;
        margin-left: 0;
        margin-bottom: 148px;
      }

      .benefit {
        display: flex;
        flex-direction: column;
        background-image: url('../../build/img/benefit.png');
        background-repeat: no-repeat;
        background-position: 0 0;

        &--experience {
          width: 326px;
          margin-right: 70px;
        }

        &--salary {
          width: 332px;
          margin-right: 65px;
        }

        &--flexible {
          width: 345px;
        }

        @media @mobile {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          background-position: 50% 10px;
        }

        @media @tablet-s {
          width: 100%;
          margin-left: 0;
          margin-right: 0;
          background-position: 50% 10px;
        }

        @media @tablet-l {
          width: 45%;
          margin-left: 0;
          margin-right: 0;
          background-position: 50% 10px;

          &--experience {
            margin-right: 60px;
          }
        }

        @media @desktop-s {
          width: 30%;
          margin-left: 0;
          margin-right: 0;
          background-position: 50% 10px;
        }

        &__title {
          font-family: 'DIN Pro Bold', sans-serif;
          font-size: 20px;
          margin-top: 84px;
          margin-left: 1px;

          @media @mobile {
            width: 100%;
            margin-left: 0;
          }

          @media @tablet-s {
            width: 100%;
            margin-left: 0;
          }

          @media @tablet-l {
            margin-left: 0;
          }
          
          @media @desktop-s {
            margin-left: 0;
          }
        }

        &__line {
          margin-top: 4px;
          margin-left: 1px;
          margin-bottom: 8px;

          @media @mobile {
            width: 100px;
            margin: 0;
            border-left: none;
            border-right: none;
          }

          @media @tablet-s {
            width: 150px;
            margin: 0 auto;
            border-left: none;
            border-right: none;
          }

          @media @tablet-l {
            width: 150px;
            margin: 0 auto;
            border-left: none;
            border-right: none;
          }

          @media @desktop-s {
            width: 150px;
            
            margin: 0 auto;
            border-left: none;
            border-right: none;
          }
        }

        &__description {
          overflow: visible;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          line-height: 1.68em;
          color: @article-color;
          margin-left: 1px;

          @media @mobile {
            width: 100%;
            margin-left: 0;
          }

          @media @tablet-s {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }
  }
}